#connexion_title{
    color: #0c6822;
}

.error
{
    color: black;
}

.error_box{
    background-color: red;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.confirm{
    color: black;
}

body{
    background-image: url("../background.png");
    height: 100%;
    background-position-y: 40%;
    background-position-x: 50%;
    text-align: center;
}

header{
    margin-left: 1%;
}

.nav_bar{
    display: flex;
}

h1 {
    font-size: 1.5vw;
    text-align: center;
}

h2{
    font-size: 0.8vw;
    text-align: center;
}

h3{
    font-size: 0.6vw;
    text-align: center;
}

h4{
    font-size: 0.49vw;
    text-align: center;
}

p{
    font-size: 1vw;
}

small{
    font-size: 0.9vw;
}

label{
    font-size: 1.2vw;
}

button{
    width: fit-content;
    font-size: 0.9vw;
}

.container{
    color: white;
}

.compte{
    border-style: solid;
    border-width: 1px;
    color: black;
    background-color: white;
    padding: 10px;
    margin: 5px;
    width: fit-content;
}

.comptes_container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    flex-direction: row;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    padding: 5px;
    font-size: 35px;
    padding: 5px;
    background-color: azure;
    
}



.form-container{
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    padding: 5px;
}

.data-container{
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    width: 33%;
    margin-left: 33%;
    padding: 5px;
}

.container-index{
    margin-top: 0.5%;
}

div.login-container {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
}

/*.login-form-container{
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    width: fit-content;
    margin-left: 10vw;
    padding: 5px;
}*/

div.login-container h1 {
    margin-left: 20%;
    margin-right: 20%;
    opacity: 1;
}

.btn.btn-primary{
    margin: 5px;
}

.btn.btn-tertiary{
    margin: 5px;
}

.btn.btn-secondary{
    margin: 5px;
}

