#connexion_title{
    color: #0c6822;
}

.error
{
    color: black;
}

.error_box{
    background-color: red;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.confirm{
    color: green;
}

body{
    text-align: center;
}

.nav_bar{
    display: flex;
}

h1, h2{
    text-align: center;}

.comptes_container{
    display: flex;
    border-style: solid;
    text-align: center;
    border-width: 5px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 5px;
}

.form-container{
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    width: 20%;
    margin-left: 40%;
    padding: 5px;
}

.data-container{
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    width: 33%;
    margin-left: 33%;
    padding: 5px;
}