#connexion_title{
    color: #0c6822;
}

.error
{
    color: black;
}

.error_box{
    background-color: red;
}

.confirm{
    color: green;
}

body{
    text-align: center;
}

.nav_bar{
    display: flex;
}

h1, h2{
    text-align: center;}

.comptes_container{
    display: flex;
    border-style: solid;
    border-width: 10px;
}