RewriteEngine On

# Rediriger les URL contenant l'adresse IP vers l'URL de votre site sans l'adresse IP

# Réécrire les URL de votre site
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

RewriteRule ^Connexion$ index [L]
RewriteRule ^Accueil$ lescomptes [L]
RewriteRule ^Paramètres$ settings [L]
RewriteRule ^VotreCompte$ compte [L]
RewriteRule ^Administration$ controlpannel [L]
RewriteRule ^NouveauCrédit$ creationcredit [L]
RewriteRule ^VosCrédits$ voscredits [L]
RewriteRule ^Messagerie$ contact [L]
RewriteRule ^VotreHistorique$ depenses [L]
RewriteRule ^Utilisateur$ viewusers [L]

# Renvoyer les erreurs 404 vers la page 404.php
RewriteRule ^404$ 404.php [NC]
ErrorDocument 404 /WiseTreeBanque/404.php